$white: #ffffff;

$pink1: #e83c70;
$pink_op: #e83c70e6;
$pink2: #F18AA9;

$grey1: #485772;
$grey2: #A3ABB8;
$grey3: #384256;
$grey4: #D2DCF5;
$grey5: #EEF1F8;

$black1: #1a1a1c;

$yellow1: #fec703;
$yellow_op: #fec803e6;

$blue1: #3eb5e9;
$blue_op: #3eb5e9e6;
$modal_mask: #00000050;

$gradient-1: linear-gradient(135deg,
        $yellow1 0%,
        $pink1 50%,
        $blue1 100%);

 $opasity_hov: 0.8;       