$color-1: #D2DCF5;
$color-2: #ffffff;
$color-3: #384256;
$color-4: #E83C70;
$color-5: #485772;
$color-6: #F18AA9;
$color-7: #EEF1F8;

$gradient-1:linear-gradient(
    121.33deg,
    #fec703 -9.46%,
    $color-4 43.94%,
    #3eb5e9 99.61%
  );
