
.link1{
  text-decoration: underline;
  color: $pink1;
  background: $white;

}
.link1:active{
  color: $grey2;
}
.link1:hover{
  color: $grey1;
  cursor: pointer;
}

.style_input:active{

  border: 1px solid $grey1;
}
.style_input:hover{
    border: 1px solid $grey1;

}
.form-button:hover{
  background: $pink2;
}
.form-button:active{
  background: $pink2;

}
