*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  // *::-webkit-scrollbar-track {
  //   background: orange;
  // }
  *::-webkit-scrollbar-thumb {
    background-color: $pink1;
    border-radius: 2px;
    //border: 3px solid orange;
  }
   *::selection {
     background: $grey2;
   }
   div::selection {
     background: transparent;
   }
   button::selection {
     background: transparent;
   }
  //  span::selection {
  //    background: transparent;
  //  }
   svg::selection {
     background: transparent;
   }
  
   img::selection {
     background: transparent;
   }