$size-1: 166px;
$size-2: 114px;
$size-3: calc(($size-1 - 134px) / 2);
$size-4: 27px;
$size-5: 14px;

//
$radius-1: 23px;
$radius-2: 0px 8px 8px 0px;

//
$font-family: 'Fredoka One', arial, sans-serif;
$font_size-1: 12px;